a:link {
    text-decoration: none;

    color: violet;
}

a:visited {
    color: red;
}

body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p#shadow {
    text-shadow: 3px 4px 5px #ff3535;

}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: darkgoldenrod
}


input.hovered:hover {
    background-color: rgb(0, 0, 0);
}


input.tapped:focus {
    background-color: aqua;
}