body {

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    color: rgb(34, 92, 179);
}

.left {
    padding-left: 200px;
    text-align: left;
}

.right {
    padding-right: 200px;

    text-align: right;
}